# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
*.pyc

# Environment files
dev.env
.env
.env.*

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store